.img{
    width: 180px;
    height: 240px;
}
.card{
    width: 200px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgrey;
    border-radius: 10px;
    margin:15px;
}

.card:hover{
    cursor:pointer;
    box-shadow: 1px 4px 3px rgb(85, 84, 84);
    transition: all  0.6s;
}
.button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(67,67,67);
    color: #fff;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(163, 105, 50);
    transition: all  0.6s;
}